.card {
  height: 200px;
  width: 1000px;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px;
  display: flex;
  margin: 1rem;
  padding: auto;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.img {
  border-radius: 10px 0px 0 10px;
  height: 200px;
}

.title {
  color: #F3AA60;
  font-weight: 700;
}


.details {
  background: #EF6262;
  border: 1px solid #EF6262;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 15px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.details:hover,
.details:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.details:active {
  opacity: .5;
}

.edit {
  background: #7CC4E7;
  border: 1px solid #7CC4E7;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 15px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.edit:hover,
.edit:active {
  background-color: initial;
  background-position: 0 0;
  color: #7CC4E7;
}

.edit:active {
  opacity: .5;
}


.delete {
  background: #1D5B79;
  border: 1px solid #1D5B79;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 15px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.delete:hover,
.delete:active {
  background-color: initial;
  background-position: 0 0;
  color: #1D5B79;
}

.delete:active {
  opacity: .5;
}

.space {
  width: 7px;
  height: auto;
  display: inline-block;
}